html{
	/*background-color : #171b17;*/
	margin: auto;
/*	min-width: 1320px;
	max-width: 1320px;*/
	width: 1680px;
    height: 100%;
/*	min-height: 960px;
	max-height: 980px;*/
    

}

/*div{
	border : 1px solid red;
}*/

body{
	/* background-color : #171b17; */
	background: url(images/panneauBois.jpg) center center;
	background-size: 80% auto;
}
#milieu{
	/*background: url(fondvelours.png) no-repeat center center;
	background-size: cover;*/
	min-height: 1130px;
}
.banniere {
	width: 100%;
}


#header{
	/*background-color: #362417;*/
	/*background-color: #2c2c2c;*/
	/*background-color: #171b17;
	background: url(bois.png) no-repeat center center;
	background-size: cover;*/
	/*border:2px solid #f1dabf;*/
	/*border:2px solid #bc9600;*/
	/*border:2px solid #af8c00;*/
	/*color: #ffcc00;*/
    background-color: rgb(0,0,0,0.8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: blue;
   /* box-shadow: 10px 10px 10px blue, -10px 10px 10px blue, inset 0px -5px 10px blue ;*/
    color: white;
    
    margin-bottom: 1%;
}

.shadow-text {
    text-shadow: 1px 1px black,-3px 3px 3px black, 1px -1px black, -1px -1px black;
}

header h1{
	font-size: 4rem;
}
.taverne-text {
	font-family: "MathJax_Fraktur";
}

.dropdown-menu a {
    font-size: 20px;     
}
.nav-border-white {
    border-radius: 15px;
}
.nav-border-white:hover {
    box-shadow: 1px 5px white,-1px 5px  white, 1px -1px white, -1px -1px white;
}

.FormConnectChamp{
	color:white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#connect {
	float: right;
}

#recherche {
	font-size: 1.5rem;
}

#formconnect {
	font-size: 1.2rem;
}

nav {
	width: 100%;
	text-align: center;
	display: inline-flex;
	border-radius: 15px;
	padding-bottom: 5px;
}

nav a {
	width : 100%;
	color : white;
	/*text-decoration: none;*/
	text-align-last: center;
	font-size: 30px;
}
#img {
	width : 100%;
}

nav a:hover {
	text-decoration: underline;
	/*border-radius: 15px;*/
	/*box-shadow: 0px 0px 15px white, -0px 0px 15px white, 0px -0px 15px white, -0px -0px 15px white, inset 0px -0px 25px white ;*/
    */
}

#corps {
    background-color: rgb(0,0,0,0.7);
    border-radius: 20px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: blueviolet;
    color : white;
    /*box-shadow: 0px 0px 30px red, -0px 0px 30px red, 0px -0px 30px red, -0px -0px 30px red, inset 0px -0px 10px red ;
    */
}
#registerDroit {
	text-align: right;
	font-size: 1.3rem;
}

#uploadImg{
	border : 2px solid black;
	border-radius: 10px;
	font-size: 0.9em;
	overflow: hidden;
}

#fileToUpload{
	padding-right : 50px;
}

/*PROFIL*/

#afficheProfil{
	color : white;
	/*box-shadow: 2px 2px 15px grey,-2px 2px 15px grey,-2px -2px 15px grey,5px -2px 15px grey;*/
}

#imageProfil{
	width : 180px;
	height : 180px;	
	border : 2px solid black;
}

#NomPrenom{
	font-weight:bolder;
	text-decoration: underline;
/*--	padding-left : 80px;*/
	padding-bottom : 20px;
	font-size: 38px;
}

.ProfilRow{
	padding-top : 15px;
	padding-bottom : 15px;
	padding-left : 45px;
}

.ProfilNomChamp{
	font-size: 30px;
	font-weight:bolder;
}

.ProfilChamp{
	font-size: 30px;
	margin-left : 20px;
}

#ajouterAmiButton{
	color : white;
	text-decoration: none;
	border : 2px solid grey;
	padding : 10px;
}

#notifAmisList{
	border : 2px solid black;
	margin-right :5px;
}

#notifAmis{
	margin-top : 10px;
}

.addFriendButton{
	float : right;
	width : 25px;
	height : 25px;
}

.list-group-item1{
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	margin-bottom: -1px;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.125);
	color : white;
}

.afficheProfilDemandeAmi{
	color : white;
}

#footer{
    margin-top: 1%;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: blue;
    /*box-shadow: 10px -10px 50px blue, -10px -10px 50px blue, inset 0px 0px 10px blue ;*/
    color: white;
    text-shadow: 1px 1px black,-3px 3px 3px black, 1px -1px black, -1px -1px black;
}

